:root {
   --primary-color: white;
  --secondary-color: #212121;
}
.dark-theme{
  --primary-color: #000106;
  --secondary-color: #fff;
}


body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  margin: 0;
  padding: 0;

}

#header {
  text-align: center;
}

.project {
  border: 1px solid #fffbfb;
  /* Add a 1px black border around the sections */
  padding: 20px;
  /* Add some padding to create space around the content */
  margin: 10px 0;
  /* Add margin to separate sections */
}

.project1 img {
  border: 1px solid #fffbfb;
  padding: 20px;
  margin: 10px;
}


.navbar {
  background-color: var(--secondary-color);
  width: 200px;
  height: 100%;
  position: fixed;
  overflow: hidden;
  top: 0;
}


#icon {
  width: 30px;
  cursor: pointer;
  position: absolute;
  left: 95%;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin-left: 50px;
  margin-top: 35px;

}

.navbar li {
  padding: 5px;
}

.navbar a {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 20px;
}

.navbar a:hover {
  color: #ff6600;
}

.content {
  color: var(--secondary-color);
  margin-left: 220px;
  padding: 20px;
}


.project1 a {
  text-decoration: none;
  color: var(--prirmary-color);
}

.project1 a:hover {
  color: #ff6600;
}

#contact p {
  display: inline-block;
  margin-right: 5px;
}

#contact img {
  width: 30px;
  height: 30px;
  transition: transform 0.3s;
  vertical-align: middle;
}

#contact img:hover {
  transform: scale(1.2);
}